{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Health Site{% endblock %}

{% block content %}
<style>
    .fancy-text {
        font-family: 'Arial', sans-serif;
        font-size: 48px;
        color: #28a745;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
    }
</style>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="fancy-text">HealthKeeper</h1>
            <!-- <div class="d-flex justify-content-center mt-4">
                <img src="{% static 'images/intro.jpg' %}" class="img-fluid mx-2" alt="Health Site Introduction">
            </div> -->
            <div class="image-container" style="display: flex; justify-content: space-around;">
                <img src="{% static 'images/left_image.jpg' %}" style="width: auto; height: auto; max-width: 100%; max-height: 200px;" alt="Image left">
                <img src="{% static 'images/intro.jpg' %}" style="width: auto; height: auto; max-width: 100%; max-height: 200px;" alt="Image main">
                <img src="{% static 'images/right_image.jpg' %}" style="width: auto; height: auto; max-width: 100%; max-height: 200px;" alt="Image right">
            </div>
            <p class="mt-4">
                이 페이지는 AI를 활용하여 사용자의 웹캠을 통해 사용자의 운동 자세를 분석하고 
            </p>
            <p class="mt-4">
                자세에 대한 AI가 인식하고 있는 알맞은 자세와 사용자의 자세가 얼마나 비슷한지 체크할 수 있습니다.
            </p>
        </div>
    </div>
{% endblock %}
