{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Health Site{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>메인화면 입니다</h1>
            <img src="{% static 'images/intro.jpg' %}" class="img-fluid mt-4" alt="Health Site Introduction">
            <p class="mt-4">
                이 페이지는 AI를 활용하여 웹캠을 통해 사용자의 운동 자세를 분석하고 
            </p>
            <p class="mt-4">
                올바르지 않은 자세를 감지하면 경고를 제공하여 안전한 운동을 도와드립니다. 
            </p>
            <p class="mt-4">
                또한, 모바일 앱과 연동되어 있어 웹캠이 없는 분들도 충분히 활용할 수 있습니다.
            </p>
        </div>
    </div>
{% endblock %}
